<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.ws.core.mapper.UserMapper">

    <resultMap id="Base_User_Map" type="com.metoo.ws.core.entity.User">
        <id column="mu_id" property="id"/>
        <result column="mu_addTime" property="addTime"></result>
        <result column="mu_username" property="username"></result>
        <result column="mu_password" property="password"></result>
        <result column="mu_sex" property="sex"></result>
        <result column="mu_age" property="age"></result>
        <!--角色信息-->
        <collection property="roles" javaType="list" ofType="com.metoo.ws.core.entity.Role">
            <id column="mr_id" property="id"/>
            <result column="mr_name" property="name"></result>
            <result column="mr_roleCode" property="roleCode"></result>
            <result column="mr_type" property="type"></result>
        </collection>
    </resultMap>

    <resultMap id="Base_Update_Map" type="com.metoo.ws.core.vo.UserVo">
        <id column="mu_id" property="id"></id>
        <result column="mu_addTime" property="addTime"></result>
        <result column="mu_username" property="username"></result>
        <result column="mu_password" property="password"></result>
        <result column="mu_age" property="age"></result>
        <result column="mu_sex" property="sex"></result>
        <result column="mu_userRole" property="type"></result>
        <result column="mu_email" property="email"></result>
        <result column="mu_mobile" property="mobile"></result>
        <result column="mu_note" property="note"></result>
        <result column="mu_groupName" property="groupName"></result>
        <result column="mu_groupId" property="groupId"></result>
       <collection property="roleIds" column="mr_id" ofType="java.lang.Long">
           <id column="mr_id" property="roleIds"></id>
       </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, addTime, deleteStatus, username, password, sex,
        age, userRole, email, mobile, note, groupId, groupName, groupLevel,type
    </sql>

    <sql id="Base_Update_Info">
        id, username, sex,
        age, userRole, email, mobile, note, groupId, groupName, groupLevel
    </sql>

    <select id="selectByName" parameterType="String" resultType="com.metoo.ws.core.entity.User">
        SELECT
            id,
            username,
            password,
            salt,
            userRole,
            sex,
            age
        FROM
            metoo_user
        WHERE
         username=#{username}
        AND
        deleteStatus >= 0
    </select>

    <select id="selectObjById" resultType="com.metoo.ws.core.entity.User">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_user
        WHERE id=#{id, jdbcType=BIGINT}
    </select>

    
</mapper>